// Vendor Imports
// --------------------------------------------------------
@import "../../bower_components/normalize-scss/normalize";
@import "icons";

// Variables
// --------------------------------------------------------
$lighter-gray: #ededed;
$light-gray: darken(#ededed, 10%);
$gray: #999;
$dark-gray: #666;
$black: #222;
$cream: #F3F2EF;

$spacing-unit: 1rem * 1.65;
$half-spacing-unit: $spacing-unit / 2;

// UI Imports
// --------------------------------------------------------
@import "ui/main";
@import "ui/layout";